# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.MicroGame.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Documenten\Programming\MicroGame\.idea\.idea.MicroGame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
